<ng-container *ngIf="cleanings.length > 0">
  <h1>Naplánované úklidy</h1>

  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let group of grouped | keyvalue">
        <!-- place column -->
        <td class="font-weight-bold align-top" style="white-space: nowrap; width: 200px;">
          {{ group.key }}
        </td>

        <!-- cleanings horizontally -->
        <td>
          <div class="d-flex flex-row flex-wrap">
            <div *ngFor="let c of group.value" class="card m-2 p-2" style="min-width: 180px;">
              <a class="h6 text-decoration-none d-block mb-1" [routerLink]="['/cleanings', c.id]">
                {{ c.name }}
              </a>
              <div class="text-muted small">
                {{ c.from | date:'d. M. HH:mm' }} – {{ c.to | date:'d. M. HH:mm' }}
              </div>
              <div class="small">
                {{ c.cleaningInstructions.slice(0, maxCleaningInstructionsChars) }}
                <a [routerLink]="['/cleanings', c.id]" *ngIf="c.cleaningInstructions.length > maxCleaningInstructionsChars">...</a>
              </div>
              <div class="small">
                <p *ngFor="let user of c.idsToUsername">
                  {{user.item2}},
                </p>
              </div>
              <div class="small" *ngIf="c.to.getTime() > now.getTime() && !c.finished">
                <button *ngIf="!c.assignedUsersIds?.includes(authenticationService.getUserId())" type="button" class="btn btn-success" (click)="onJoinButtonClicked(c)">
                  <i class="far fa-calendar-plus"></i>
                  Připojit
                </button>
                <button *ngIf="c.assignedUsersIds?.includes(authenticationService.getUserId())" type="button" class="btn btn-danger mb-1" (click)="onLeaveButtonClicked(c)">
                  <i class="far fa-calendar-plus"></i>
                  Odpojit
                </button>
              </div>
              <div class="small" *ngIf="c.from.getTime() < now.getTime() && !c.finished">
                <button *ngIf="c.assignedUsersIds?.includes(authenticationService.getUserId())" type="button" class="btn btn-success" (click)="onFinishButtonClicked(c)">
                  <i class="far fa-calendar-plus"></i>
                  Dokončeno
                </button>
              </div>
            </div>
          </div>
        </td>

        
      </tr>
    </tbody>
  </table>
  
</ng-container>
