<form novalidate autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="hidden" id="id" class="form-control" formControlName="id">

  <div class="form-group">
    <label>Název</label>

    <input class="form-control form-control-lg" placeholder="Název úklidu" id="name"
           formControlName="name"
           required maxlength="128" [class.is-invalid]="form.get('name')?.errors">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Uklízené místo</label>
      <select class="form-control form-control-lg"
              formControlName="place"
              (change)="onPlaceChange($event)"
              required
              [class.is-invalid]="!form.controls.place.value">
        <option value="" disabled selected>Vyberte místo</option>
        <option value="Bar">Bar</option>
        <option value="Chlaďáky apod.">Chlaďáky apod.</option>
        <option value="Nábytek 🦆+🐧">Nábytek 🦆+🐧</option>
        <option value="Sklo">Sklo</option>
        <option value="P108">P108</option>
        <option value="Šatna">Šatna</option>
        
        <option value="other">Jiné...</option>
      </select>

      <!-- Extra input shown only if "other" is selected -->
      <input *ngIf="showOtherPlace"
            class="form-control form-control-lg mt-2"
            placeholder="Zadejte jiné místo"
            formControlName="otherPlace"
            maxlength="256">
    </div>
  </div>
  
  <div class="form-group">
    <label>Instrukce k úklidu</label>
    <textarea class="form-control form-control-lg" placeholder="Instrukce" name="cleaningInstructions"
              formControlName="cleaningInstructions"
              maxlength="1024" [class.is-invalid]="!form.controls.cleaningInstructions.value"></textarea>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Ideální počet účastníků</label>
        <input class="form-control form-control-lg" type="number"
            id="number" name="idealParticipantsCount"
            formControlName="idealParticipantsCount"
            min="1" step="1" max="100"
            [value]="form.get('idealParticipantsCount')?.value || 3"
            [class.is-invalid]="form.get('number')?.invalid && (form.get('number')?.dirty || form.get('number')?.touched)">
    </div>
  </div>

  <div class="form-group" *ngIf="editMode">
    <input type="checkbox" class="form-check-input big-checkbox ml-1" id="finished"
          formControlName="finished">
    <label class="form-check-label ml-4" for="finished">
      Úklid dokončen
    </label>
  </div>

  <div class="form-group" *ngIf="editMode">
    <label>Přiřazení uživatelé</label>
    <ul class="list-group">
      <li *ngFor="let idNick of form.controls.idsToUsername.value"
          class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ idNick.item2 }}</span>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeAssignedUser(idNick.item1)">
          Odebrat
        </button>
      </li>
    </ul>
  </div>

  <div class="form-group d-flex align-items-center">
    <label>Trvání od</label>
    <div class="input-group mx-3">
      <input class="form-control" (click)="fromDate.open()" type="text" ngbDatepicker
             #fromDate="ngbDatepicker" id="fromDate" formControlName="fromDate"
             placeholder="dd. MM. yyyy" autocomplete="false" required
             [class.is-invalid]="form.get('fromDate')?.errors || form.errors?.incorrectDateRange"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="fromDate.toggle()" type="button"><i
          class="far fa-calendar"></i></button>
      </div>
    </div>
    <ngb-timepicker formControlName="fromTime" required
                    [class.is-invalid]="!form.controls.fromTime.value || form.controls.fromTime.invalid"></ngb-timepicker>
  </div>
  <div class="form-group d-flex align-items-center">
    <label>Trvání do</label>
    <div class="input-group mx-3">
      <input class="form-control" (click)="toDate.open()" type="text" ngbDatepicker
             #toDate="ngbDatepicker" id="toDate" formControlName="toDate"
             placeholder="dd. MM. yyyy" autocomplete="false" required
             [class.is-invalid]="!form.value.toDate"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="toDate.toggle()" type="button"><i
          class="far fa-calendar"></i></button>
      </div>
    </div>

    <ngb-timepicker formControlName="toTime" required [class.is-invalid]="!form.value.toTime"></ngb-timepicker>
  </div>
  <div class="text-danger">
    <div *ngIf="form.errors?.incorrectDateRange">Úklid musí začínat dříve, než kdy skončí.</div>
    <div *ngIf="form.get('idealParticipantsCount')?.errors?.min">Počet účastníků musí být alespoň 1.</div>
    <div *ngIf="form.get('idealParticipantsCount')?.errors?.max">Počet účastníků nesmí být větší než 100.</div>
  </div>

  <div class="d-flex flex-wrap justify-content-between">
    <div class="form-group mr-4 mt-3">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">{{submitText}}</button>
    </div>

    <div class="form-group mt-3" *ngIf="editMode">
      <button class="btn btn-outline-danger btn-block" type="button" (click)="form.reset()">
        <i class="fas fa-trash-alt"></i>&nbsp;Zrušit tento úklid</button>
    </div>
  </div>
</form>
