<ng-container *ngIf="cleanings.length > 0">
  <h1>Probíhající úklidy</h1>

  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let group of grouped | keyvalue">
        <!-- place column -->
        <td class="font-weight-bold align-top" style="white-space: nowrap; width: 200px;">
          {{ group.key }}
        </td>

        <!-- cleanings horizontally -->
        <td>
          <div class="d-flex flex-row flex-wrap">
            <div *ngFor="let c of group.value" class="card m-2 p-2" style="min-width: 180px;">
              <a class="h6 text-decoration-none d-block mb-1" [routerLink]="['/cleanings', c.id]">
                {{ c.name }}
              </a>
              <div class="text-muted small">
                {{ c.from | date:'d. M. HH:mm' }} – {{ c.to | date:'d. M. HH:mm' }}
              </div>
              <div class="small">
                {{ c.cleaningInstructions }}
              </div>
              <div class="small" *ngIf="c.to.getTime() > now.getTime()">
                <button type="button" class="btn mr-1 btn-primary float-right"
                        data-toggle="modal" data-target="#exampleModal"
                        data-backdrop="static" data-keyboard="false" (click)="onModifyButtonClicked(c)">
                  <i class="far fa-edit"></i>
                  Upravit
                </button>
                <button type="button" class="btn btn-danger" (click)="onJoinButtonClicked(c)">
                  <i class="far fa-calendar-plus"></i>
                  Připojit
                </button>
              </div>
            </div>
          </div>
        </td>

        
      </tr>
    </tbody>
  </table>
  
</ng-container>